@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Inter", sans-serif;
}

body {
    overflow-x: hidden;
}

.container {
    max-width: 100% !important;
}

a,
a:active {
    font-weight: 600;
    text-decoration: none;
}

a:hover {
    opacity: 0.8;
    text-decoration: none;
}

.button {
    padding: 7px 80px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    user-select: none;
    transition: 0.1s !important;
}

.button:active,
.button:focus {
    transition-delay: 0s;
    transform: scale(0.9) !important;
}

.button.secondary {
    background: white;
    color: black;
    border: 1px solid #000;
}

.button:hover {
    opacity: 0.8;
}

.color-bg {
    background: #f9fafe;
    height: 100vh;
    position: relative;
}

.color-bg::before {
    content: "";
    background: url(/images/color-background.jpg) no-repeat center center;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.18;
}

.wrapper_box {
    margin: 0px auto;
    /* position: relative; */
    max-width: 900px;
    background: white;
    border: 1px solid rgba(0, 55, 136, 0.04);
    box-shadow: rgb(0 38 97 / 15%) 0px 2px 4px 0px,
        rgb(0 38 97 / 24%) 0px 10px 20px -10px;
    border-radius: 24px;
    padding: 24px;
    width: 40%;
}
